<h2>Sign up</h2>
<form action = '/users/new' method = 'post'>
  Please enter your email:
  <input type = 'email' name = 'email' required>
  Please enter your password:
  <input type = 'password' name = 'password'>
  Please confirm the password:
  <input type = 'password' name = 'password_confirmation'>
  <button type="submit">Submit</button>
</form>
