<% if flash[:password_error] %>
  <%= flash[:password_error]%>
<% end %>
<form action = '/signup' method = 'post'>
  Please insert your email:
  <input type = 'text' name = 'email'>
  Please insert your password:
  <input type = 'password' name = 'password'>
  Please confirm the password:
  <input type = 'password' name = 'password_confirmation'>
  <button type="submit">Submit</button>
</form>
