<% if current_user %>
<p>Welcome to your bookmark manager, <%= @current_user.email%>!</p>
<% end %>

<h1> Links </h1>
<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
    Tags:
    <% link.tags.each do |tag| %>
      <%= tag.tag %>
    <%end%>
  </li>
  <% end %>
</ul>
