<h2> Add Link </h2>
<form action='/links' method='post'>
  <label for="url">URL:</label>
  <input type="text" name="url"/>
  </label>
  <label for="url">Title:</label>
  <input type="text" name="title"/>
  </label>  
  <input type="submit" value="Add Link">
</form>
