<h1> Tagged links </h1>
<ul id='tags'>
  <% @tag_links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
    <% link.tags.each do |tag| %>
      <%= tag.tag %>
    <%end%>
  </li>
  <% end %>
</ul>
