<h2> Add Link </h2>
<form action='/links' method='post'>
  <label for="url">URL:</label>
  <input type="text" name="url"/>
  <label for="url">Title:</label>
  <input type="text" name="title"/>
  <label for="tags">Tags: </label>
  <input type="text" name="tags">
  <input type="submit" value="Add Link">
</form>
