<div class="nav" id="user-links">
<% if current_user %>
  <a><form id = "sign-out" class="button highlighted" method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign Out'>
  </form></a>
  <a href="/links/new" class="button highlighted"> Add New Link</a>
  <a href="/links" class="button highlighted"> View Links</a>
<% end %>
<% if current_user == nil %>
  <a href="/sessions/new" class="button highlighted"> Sign In</a>
  <a href="/users/new" class="button highlighted"> Sign Up</a>
<% end %>
</div>
